<launch>
  <!--
  <node name="$(anon asdf)" pkg="rqt_console" type="rqt_console" />
  -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="webpath" value="html" />
  </include>

  <!-- publishers for door/object topics and TFs + interaction services -->
  <group>
    <remap from="open_door" to="turtlebot1/open_door" />
    <remap from="interact" to="turtlebot0/interact" />
    <include file="$(find bt_sim_helpers)/launch/sim_helpers.launch" />
  </group>

  <include file="$(find bt_sim_helpers)/launch/start_stdr_env.launch" />
  <!-- spawn a turtlebot -->
  <include file="$(find bt_sim_helpers)/launch/spawn_turtlebot_stdr.launch">
    <arg name="robot_index" value="0" />
    <arg name="initial_pose_x" value="4.0" />
    <arg name="initial_pose_y" value="2.5" />
  </include>
  <group ns="turtlebot0">
    <!-- start tree node in robot NS -->
    <node name="tree_node" pkg="ros_bt_py" type="tree_node.py" output="log">
      <rosparam param="node_modules">
        [
        ros_bt_py.nodes.sequence,
        ros_bt_py.nodes.fallback,
        ros_bt_py.nodes.mock_nodes,
        ros_bt_py.nodes.action,
        ros_bt_py.nodes.service,
        ros_bt_py.nodes.topic,
        ros_bt_py.nodes.compare,
        ros_bt_py.nodes.getters,
        ros_bt_py.nodes.setters,
        ros_bt_py.nodes.passthrough_node,
        ros_bt_py.nodes.shovable,
        ros_bt_py.nodes.subtree,
        ros_bt_py.ros_nodes.message_from_dict,
        ros_bt_py.ros_nodes.pose_distance
        ]
      </rosparam>
      <param name="target_tick_frequency_hz" value="1.0" />
    </node>
    <node name="bot0_find_best_exec" pkg="ros_bt_py" type="find_best_executor_node.py" output="screen"/>
    <param name="robot_frame" value="robot0" />

    <node name="$(anon load_tree)" pkg="ros_bt_py" type="load_tree.py"
          args="--timeout 5.0 --namespace tree_node bt_sim_helpers etc/trees/open_door_get_thing_with_subtrees_shovable.yaml" />
  </group>

  <!-- spawn second turtlebot -->
  <include file="$(find bt_sim_helpers)/launch/spawn_turtlebot_stdr.launch">
    <arg name="robot_index" value="1" />
    <arg name="initial_pose_x" value="4.0" />
    <arg name="initial_pose_y" value="4.5" />
  </include>
  <group ns="turtlebot1">
    <!-- start tree node in robot NS -->
    <node name="tree_node" pkg="ros_bt_py" type="tree_node.py" output="log">
      <rosparam param="node_modules">
        [
        ros_bt_py.nodes.sequence,
        ros_bt_py.nodes.fallback,
        ros_bt_py.nodes.mock_nodes,
        ros_bt_py.nodes.action,
        ros_bt_py.nodes.service,
        ros_bt_py.nodes.topic,
        ros_bt_py.nodes.compare,
        ros_bt_py.nodes.getters,
        ros_bt_py.nodes.setters,
        ros_bt_py.nodes.passthrough_node,
        ros_bt_py.nodes.shovable,
        ros_bt_py.nodes.subtree,
        ros_bt_py.ros_nodes.message_from_dict,
        ros_bt_py.ros_nodes.pose_distance
        ]
      </rosparam>
      <param name="target_tick_frequency_hz" value="1.0" />
    </node>

    <node name="remote_tree_slot" pkg="ros_bt_py" type="remote_tree_slot_node.py"/>
    <param name="robot_frame" value="robot1" />

    <node name="$(anon load_tree)" pkg="ros_bt_py" type="load_tree.py"
          args="--timeout 5.0 --namespace tree_node bt_sim_helpers etc/trees/simple_slot_tree.yaml" />
  </group>
</launch>
