<launch>
  <param name="use_sim_time" value="true" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="webpath" value="html" />
  </include>

  <group ns="turtlebot0">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find bt_sim_helpers)/launch/kobuki_simple.urdf.xacro' tf_prefix:=robot0_" />
  </group>
  <group ns="turtlebot1">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find bt_sim_helpers)/launch/kobuki_simple.urdf.xacro' tf_prefix:=robot1_" />
  </group>

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find bt_sim_helpers)/etc/shove_test.rviz" />
  <node name="rosbag"
        pkg="rosbag"
        type="play"
        args="--clock -d 1 -l $(find bt_sim_helpers)/etc/shove_sim.bag" />
</launch>
