<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="webpath" value="html" />
  </include>
  <node name="tree_node" pkg="ros_bt_py" type="tree_node.py">
    <param name="target_tick_frequency_hz" value="1.0" />
  </node>
</launch>
