.box {
    border: 3px solid;
    margin: 5px;
    padding: 10px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #1e2226;
    stroke-width: 3.5px;
}
.btnode, .label{
  font-family: sans-serif;
  display: inline-block;
  background: #2a2d36;
  border: solid;
  border-width: 6px;
  border-color: #4E5666;
  color: #eff0f4;
  fill: #eff0f4;
  max-width: 200px;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label {
    pointer-events: none;
}

.btnode h5 {
    color: #858e99;
}

.node_list{
  font-family: sans-serif;
  display: inline-block;
  background: #2a2d36;
  border: solid;
  border-width: 6px;
  border-color: #4E5666;
  color: #eff0f4;
}

.node_class {
}

.node_module {
}

.maxw0 {
  max-width: 0;
}

.minw0 {
  min-width: 0;
}

.maxh50 {
  max-height: 50%;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-grabbing {
  cursor: grabbing;
}

.svg-button:hover {
  fill: #bebebe;
}

.btnode tbody {
  color: #CECFD2;
}

.btnode h3 {
  margin: 4px;
}

.btnode tbody tr {
  background: #313740;
}

.btnode td.key {
  font-weight: bold;
}

.btnode tbody tr:hover {
   background: #3A414C;
}

.btnode td {
/*
  border: solid;
*/
  vertical-align: top;
}

.btnode th {
  text-align: left;
}

.json {
  white-space: pre;
}
.btnode td pre {
  margin: 0;
}

.btnode table {
  margin: 4px;
}

.scroll-col {
    height: 100%;
    overflow-y: scroll;
}

.row-height {
    height: 94vh;
}

.reactive-svg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /* only required for <img /> */
  height: 100%;
}

.fill-screen {
    height: 100vh;
}
.fill-parent {
    height: 100%;
}

.edit_canvas {
}

.top-bar {
    height: 6vh;
    width: 100%;
    background: #fedede;
}

.placeholder {
    background: #8e0000;
}

.control-bar {
    background: #bebebe;
}

.spacer {
  margin-left: auto;
}

rect.selection {
  stroke          : gray;
  stroke-dasharray: 4px;
  stroke-opacity  : 0.5;
  fill            : transparent;
}

path.data-hover {
    stroke: #148050;
    background: #148050;
}

.data-link, .drawing-indicator {
    fill: none;
    stroke: #64676f;
    stroke-width: 3.0px;
}


.data-hover rect {
    stroke: #148050;
    background: #148050;
    fill: #148050;
}

.compatible rect {
    stroke: #14d050;
}

.drawing-indicator {
    pointer-events: none;
}

#editor_viewport {
}

.darkmode {
  background: #34393c;
}

.lightmode {
  background: #ffffff;
}

.clear-error {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.gripper {
    fill: #74777f;
}

#nodelist_container {
    border-right: solid;
}

.node-selected {
    background: #27406D;
}

.search-results {
  padding-left: 10px;
}

.search-result:hover {
  background-color: #007bff;
}

.search-result-highlighted {
  background-color: #007bff;
}

div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #4b4b4b;
}
.ace-jsoneditor, textarea.jsoneditor-text {
  min-height: 35px;
}

#loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font: 100px sans-serif;
}

@keyframes fade {
    0% {
      opacity: .1;
    }
    30% {
      opacity: .9;
    }
    100% {
      opacity: .1;
    }
}

.wave span {
    animation-name: fade;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.wave span:nth-child(2) {
    animation-delay: .2s;
}
.wave span:nth-child(3) {
    animation-delay: .4s;
}
.wave span:nth-child(4) {
    animation-delay: .6s;
}
.wave span:nth-child(5) {
    animation-delay: .8s;
}
.wave span:nth-child(6) {
    animation-delay: 1.0s;
}
.wave span:nth-child(7) {
    animation-delay: 1.2s;
}

.connected {
  padding: 0.25rem;
  color: #0caa19;
}

.disconnected {
  padding: 0.25rem;
  color: #ff0000;
}

.filebrowser-bar:hover {
  background-color: #007bff;
  color: #ffffff;
}

@media screen and (max-width: 1910px){
  .hide-button-text {
    display: none;
  }
  .show-button-icon {
    visibility: visible;
  }
}

@media screen and (max-width: 1640px){
  .hide-button-text-control {
    display: none;
  }
  .show-button-icon {
    visibility: visible;
  }
}
