.box {
    border: 3px solid;
    margin: 5px;
    padding: 10px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.btnode{
  font-family: sans-serif;
  display: inline-block;
  background: #2a2d36;
  border: solid;
  border-width: 6px;
  border-color: #4E5666;
  color: #eff0f4;
}

.node_list{
  font-family: sans-serif;
  display: inline-block;
  background: #2a2d36;
  border: solid;
  border-width: 6px;
  border-color: #4E5666;
  color: #eff0f4;
}

.btnode tbody {
  color: #CECFD2;
}

.btnode h3 {
  margin: 4px;
}

.btnode tbody tr {
  background: #313740;
}

.btnode td.key {
  font-weight: bold;
}

.btnode tbody tr:hover {
   background: #3A414C;
}

.btnode td {
/*
  border: solid;
*/
  vertical-align: top;
}

.btnode th {
  text-align: left;
}

.json {
  white-space: pre;
}
.btnode td pre {
  margin: 0;
}

.btnode table {
  margin: 4px;
}

.scroll-col {
    height: 100%;
    overflow-y: scroll;
}

.row-height {
    height: 94vh;
}

.reactive-svg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /* only required for <img /> */
  height: 100%;
}

.edit_canvas {
    height: 30em;
}

.top-bar {
    height: 6vh;
    width: 100%;
    background: #fedede;
}

.placeholder {
    background: #8e0000;
}

.control-bar {
    background: #dedede;
}

.data-link, .drawing-indicator {
    fill: none;
    stroke: #444;
    stroke-width: 3.5px;
}

.data-hover {
    stroke: #148050;
    background: #148050;
}

.data-hover rect {
    stroke: #148050;
    background: #148050;
    fill: #148050;
}

.compatible rect {
    stroke: #14d050;
}

.drawing-indicator {
    pointer-events: none;
}
